h3{
	text-align: center;
	color: rgba(250, 250, 250, 0.8);
	margin-bottom: 5rem;
}


/*check out button*/
.checkOut, .checkOut:visited{
  color: black;
}


.checkOut:hover{
  color: black;
}

/*shopping button*/
.shopping{
  display:inline-block;
  padding:1rem 2rem;
  text-decoration:none;
  color: white;
}

.shopping, .shopping:visited{
  background-color:rgb(100, 100, 100);
  color: #f6ff68;
  border-radius:0.5rem;
  margin:0.25rem 0.5rem;
  text-decoration:none;
}

.shopping:hover{
  background-color:#f2d848;
  color:black;
  text-decoration: none;
}

#backToMain{
	margin-left: 6rem;
}

#goProduct{
	padding-right: 8rem;
}


@media(max-width: 80rem){
	#goProduct{
		float:right;
		margin-top: -4rem;
	}
}

@media(max-width: 50rem){
	#goProduct{
		float:right;
		margin-top: -4rem;
	}
}

@media(max-width: 50rem){
	#backToMain{
		margin-left: 1rem;
	}
	#goProduct{
		margin-left: 5.5rem;
		margin-top: 0rem;
		padding-right: 0rem;
	}
}

