#map{
	text-align: center;
}


h2{
	margin-bottom: 2rem;
	text-decoration:none;
}

.map{
	width:100%;
}

.span:hover {
	color: white;
	background-color: rgb(50, 50, 50);
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}
